/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1em;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.control-panel,
.difficulty-selector {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
}

/* Wrap both Sudoku board and solver steps animation */
.board-and-animation-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.App-header h1,
.App-header p {
  margin: 0.5em auto; /* Adds vertical spacing and centers text */
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%; /* Ensures content has space on either side */
  max-width: 960px; /* Maximum width */
  margin: 0 auto; /* Centers horizontally */
}

@media (max-width: 600px) {
  .App {
    padding: 0.5em;
  }
  .board-and-animation-container {
    flex-direction: column;
  }
  .App-header h1 {
    font-size: 1.5em; /* Reduces the font size for h1 */
  }

  .App-header p {
    font-size: 0.7em; /* Reduces the font size for paragraphs */
  }
  .control-panel .MuiButton-root {
    padding: 0.2em 0.4em; /* Smaller padding */
    font-size: 0.65rem; /* Smaller font size */
  }
  .control-panel {
    gap: 5px; /* Reduced space between buttons */
    margin-left: 0.5em;
    margin-right: 0.5em;
  }


  div.MuiBox-root,
  div.MuiSelect-select,
  div.MuiFormControl-root,
  div.MuiSelect-select {
    font-size: 0.65em; /* Smaller font size for select input and menu items */
    padding: 0.2em;
    text-transform: capitalize;
  }
}
